.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
graph-transporter/**
debug-docker/**
workspace/**
.local/**
tsconfig.json
webpack.config.js